.pic{
	width: 1200px;
	height: 4000px;
	background: #f5f5f5;
	margin:0 auto;
}
ul{
	margin:10px auto;
}
li{
	display: block;
	list-style: none;
	width: 220px;
	height: 450px;
	/*background: #f99;*/
	position: relative;
	float: left;
	margin-right: 10px;
	margin-top: 20px;
}
li img{
	width:200px;
	/*height: 200px;*/
	display: block;
	margin:10px auto;
}
button{
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: inline;
	position: absolute;
	border:none;
	left: 10px;
	bottom:20px;
	background: red;
}
.tit{
	position: absolute;
	left: 10px;
	top: 320px;
	line-height: 30px;
	font-size: 14px;
}